body{
    font-family: 'Poppins', sans-serif;
    background: #ebf5fc;
}

.main{
    min-height: 100vh;
}
.container{
    margin-top: 70px;
}


.tools{ 
    margin:125px 30px 30px;
    display: flex;
    justify-content: space-between;
}
.search-input{
    height: 30px;
    margin-left: 60px;
}
.search-input input{
    height: 100%;
    border-radius: 70px;
    border: none;
    box-shadow:  5px 5px 10px #9b9b9b,
             -5px -5px 10px #ffffff;
}
.search{
    position: relative;
    top: 6px;
    left: -35px;
    opacity: 0.5;
}
button{
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 75px;
    background: linear-gradient(145deg, #438bf5, #3975ce);
    box-shadow:  5px 5px 10px #9b9b9b,
             -5px -5px 10px #ffffff;
}

table td:last-child{
    max-width: 140px;
}
table td button:not(:last-child){
    margin: 0 10px;
}


#container-form{
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    
}

#container-form.cform-show{
    opacity: 1;
    pointer-events: all;
}

.form-add{
    border-radius: 15px;
    height: 0;
    max-width: 500px;
    background: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}
.form-add h2{
    padding: 20px 0;
}
.form-add div{
    max-width: 400px;
    margin: 0 30px;
}

.form-add div:last-child{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.form-add div button:first-child{
    margin-left: 20%;
}
.form-add div button:last-child{
    margin-right: 20%;
}
.form-add.form-show{
    margin-top: 10%;
    min-height: 600px;
    visibility: visible;
}
.delete{
    background: linear-gradient(145deg, #ff6565, #db5555);
}
.edit{
    background :linear-gradient(145deg, #9342f5, #7b38ce);
}



.footer{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding: 10px 30px 20px 30px;
    background-color: #E3F3FD;
    align-items: center;
}

.footer .contact a{
    text-decoration: none;
    margin-right: 20px;
}