<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link rel="shortcut icon" href="#">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <!-- <script src="{% static 'login.js' %}"></script> -->
    <style>
        #mess{
            height: 20px;
            color: red;
            display: none;
            margin-bottom: 20px;
        }
        #mess p{
            padding: 15px 0 0 10px;
        }
    </style>
</head>
<body>
    <div class="container"> 
        <div class="form login" id="form">
            <div class="content">
                {%csrf_token%}
                <h1>Login</h1>
                <div class="group">
                    <input type="text" id="username-login" class="inputText" placeholder="&nbsp;" required>
                    <label for="username-login">Username</label>
                </div>
                <div class="group">
                    <input type="password" id="pass-login" class="inputText" placeholder="&nbsp;" required>
                    <label for="pass-login">Password</label>
                </div>
                <div id="mess">
                    <p >Username or password is not correct</p>
                </div>
                <div class="checkbox">
                    <div >
                        <input type="checkbox" id="checkbox">
                        <label for="checkbox"> Remember me</label>
                    </div>
                    <a href="http://">Forgot password</a>
                </div>
                <button class="btn-login" id="login">Login</button>
            </div>
    </div>
    <script>
        $(document).ready(function(){

$("button").click(function(){
    let user = {
        'username' : $("#username-login").val(),
        'password' : $("#pass-login").val()
    }
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch("login",{
        method: 'POST',
        body: JSON.stringify({'user':user}),
        headers: { 
            "X-CSRFToken": csrftoken,
        }
    }).then(response => {
        if(response.status == 200){
            window.location.assign('ahome');
        }
        else{
            document.getElementById('mess').style.display = 'block';
        }
        console.log(response);
    });
});
});
    </script>
</body>
</html>